
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <title>@RenderSection("TitleSection",false)</title>
    @RenderSection("HeaderSection", false)
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">MVC</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/Article/Index">首页</a></li>
                    <li class="active"><a href="/Article/MyIndexList">我的文章</a></li> 
                    <li class="active"><a href="/Account/Detail">我的资料</a></li> 
                    <li class="active"><a href="/Article/Add">发表文章</a></li>
                    <!-- 调用action 若是管理员显示文章管理和用户管理  -->
                    @{Html.RenderAction("GetAddAdminLink", "Account");}
                </ul>
                @Html.Partial("_LoginPartial") 

            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div>
        @RenderSection("ContentBody")
    </div>
    @Html.Partial("Footer")
</body>
</html>

