@model ReUse.Models.Goods

@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
@section HeaderSection{
    <link href="~/Ueditor/themes/default/css/umeditor.css" type="text/css" rel="stylesheet">
    
    <script type="text/javascript" charset="utf-8" src="~/Ueditor/umeditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="~/Ueditor/umeditor.min.js"></script>
    <script type="text/javascript" src="~/Ueditor/lang/zh-cn/zh-cn.js"></script>

<link href="~/Content/JQuery.JSAjaxFileUploader.css" rel="stylesheet" />
<script src="~/Scripts/js/JQuery.JSAjaxFileUploader.js"></script>
<script src="~/Scripts/js/UpLoadImage.js"></script>
 
}

@section ContentBody{
<h2>Add</h2>

<hr />
@Html.ValidationMessage("Error", new { style = "color:red;" })
<div class="form-group">
    <div class="col-md-1"></div>
        <div class="col-md-11">
            <div>
                <div id="testId"></div>
                <div id="tb">
                    <table id="tbl">
                        <tbody></tbody>
                    </table>
                </div>
            </div>

        </div>
</div>
   <br /><br />
@using (Html.BeginForm("Add", "Goods", FormMethod.Post, new { id = "myform" }))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("Pic")
    <div class="form-horizontal">
        <hr />
       
        <div class="form-group">
            @Html.Label("物品名称 *", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GoodsName, new { htmlAttributes = new { @class = "form-control" } })
              
            </div>
        </div>

      

        <div class="form-group">
            @Html.LabelFor(model => model.Style1, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Style1", ViewData["EnumStyle1"] as SelectList, new { @class = "form-control" })
              
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
             
                @Html.TextArea("Description")

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.News, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("News", ViewData["EnumNews"] as SelectList, new { @class = "form-control" })
              
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ChangeType, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
               
                @Html.DropDownList("ChangeType", ViewData["EnumChangeType"] as SelectList, new { @class = "form-control" })
                <span id="helpBlock" class="help-block">现金交易（单位：元）与积分交换（单位：分），请填写交易价格；实物交换，填写所需物品</span>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ChangPrice, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="number" min="-1" name="ChangPrice" id="ChangPrice" value="0" class = "form-control"/>
               
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ChangeGoods, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ChangeGoods, new { htmlAttributes = new { @class = "form-control" } })

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Area, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Area", ViewData["EnumArea"] as SelectList, new { @class = "form-control" })
               
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
              
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<script type="text/javascript">
            //实例化编辑器
    var um = UM.getEditor('Description', { initialFrameHeight: 300, initialFrameWidth: null });//重写前面的textarea标签
  //  um.setWidth("20%");//设置宽度
  
                $('#myform').submit(function () {
                    $('#Description').val(um.getContent());//点击提交按钮时 获取插件里得值
                });//
</script>

<div>
    <hr />
</div>
}