@model PagedList.IPagedList<ReUse.Models.Goods>
@using PagedList.Mvc
@{
    ViewBag.Title = "IndexList";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}
@section HeaderSection{

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/js/ShowTrans.js"></script>

}
@section ContentBody{
    <h2>IndexList</h2>
    <div>
    @using (Html.BeginForm("IndexList", "Goods", FormMethod.Post, new { @class = "form-inline" }))
    {

        <div class="panel panel-default">
            <div class="panel-body">
                物品种类： @Html.DropDownList("style", ViewData["EnumStyle1"] as SelectList, new { @class = "form-control serachinput" })
                物品名称： @Html.TextBox("search", "", new { @class = "form-control serachinput" })
                <input type="submit" class="btn btn-default" value="查询" />
            </div>
        </div>

    }

        <div class="row">
            <div class="col-md-2 col-sm-3 hidden-xs">
                @{ Html.RenderPartial("StyleList");}
            </div>
            <div class="col-md-10 col-sm-9 ">
                @foreach (ReUse.Models.Goods item in Model)
                {
                    <div class="row rowGoods" >
                        <div class="col-md-3 col-sm-3 col-xs-4">
                            <div class="goodspic">
                               <img class="product-set-image img-responsive" src="@item.Pic">
                            </div>
                        </div>
                        <div class="col-md-9 col-sm-9 col-xs-8 " >
                            <div>
                                @Html.ActionLink(@item.GoodsName, "Detail", new { id = item.ID }, new { @class="product-set-header"})
                                <br /><br />
                                <div class="product-price-info" >
                                    <span class="label label-danger"> @item.ChangeType </span> &nbsp;&nbsp;
                                    @if (item.ChangeType == "实物交换")
                                    {
                                        <span class="label label-primary"> @item.ChangeGoods </span>
                                    }
                                    else if (item.ChangeType == "现金交易")
                                    {
                                       <span class="label label-primary"> @item.ChangPrice 元</span>
                                    }
                                    else
                                    { <span class="label label-primary"> @item.ChangPrice 积分</span>}
                                </div>
                                <br />
                                <div class="product-medium-description" >
                                    @if (@item.State == 0)
                                    {
                                       <span class="label label-info">状态：等待交易</span> 
                                    }
                                    else if (@item.State == 1)
                                    {
                                        <span class="label label-info">状态：交易成功</span>
                                    }
                                    else
                                    {
                                        <span class="label label-info">状态：撤销交易</span>
                                     }
                                    &nbsp;&nbsp;
                                    <span class="label label-warning"> 新旧程度： @item.News</span>
                                    &nbsp;&nbsp;
                                    <span class="label label-success">点击量：<span class="badge">@item.ClickNum</span></span>
                                     <br /><br />
                                    <span class="label label-primary">发布时间： @item.CreatDate</span>
                                    <br /><br />
                                    <span class="label label-warning">所在地区： @item.Area</span>&nbsp;&nbsp;
                                   
                                    @if(@item.Address!=""){<span class="label label-default">交易地点：@item.Address</span>}
                                   
                                </div>
                               
                            </div>
                            <hr />
                            <div class="row text-right" >
                                <div class="hidden-xs col-md-1 col-sm-1" >
                                    <div class="product-set-pc" >...</div>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-5">
                                    @Html.ActionLink("查看详情", "Detail", new { id = item.ID },new {@class="btn btn-default "  })
                                </div>
                                 <div class="col-md-5 col-sm-5 col-xs-7 text-center" >
                              
                                     @{
                                         var ta = "";
                                         if (item.User.QQ != "") { ta = "QQ:" + item.User.QQ+ "&nbsp;&nbsp;"; }
                                         if (item.User.Email != "") { ta = ta + "邮箱：" + item.User.Email+ "<br/>"; }
                                         if (item.User.WeiXin != "") { ta = ta + "微信：" + item.User.WeiXin+ "&nbsp;&nbsp;"; }
                                         if (item.User.Tel != "") { ta = ta + "电话：" + item.User.Tel; }
                                         <button type="button" class="btn btn-default " data-toggle="modal" data-target="#ShowTrans" data-whatever="@item.ID" data-tel="@ta">联系物主</button>
                                     }
                                 </div>
                             </div>
                            <hr />
                           
                        </div>
                    </div>

                }

                <div>
                    每页 @Model.PageSize 条记录，共 @Model.PageCount 页，当前第 @Model.PageNumber 页
                  
                    @Html.PagedListPager(Model, page => Url.Action("IndexList", new { page, id = ViewBag.Uid, search= ViewBag.search, style=ViewBag.style }))
                </div>
            </div>
        </div>
        </div>
@{
    Html.RenderPartial("ShowTrans");
}

}
